@page "/feed"
@using Student.Web.Data
@using Student.Web.Model
@using Student.Web.Service
@inject WeatherForecastService ForecastService
@inject SolicitacaoProjectServer SolicitacaoProjectServer;
<h1>Projetos</h1>


@if (SolicitacaoProjeto == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr style="background-color: #38598b; color:white">
                <th>Projeto</th>
                <th>Orçamento</th>
                <th>Localização</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var solicitacaoProjeto in SolicitacaoProjeto)
            {
                <tr>
                    <td>@solicitacaoProjeto.Titulo</td>
                    <td>@solicitacaoProjeto.Orçamento</td>
                    <td>@solicitacaoProjeto.Local</td>
                    @*<td>@forecast.Summary</td>*@
                    <td> <button type="submit" class="btn btn-primary">Abrir</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[] forecasts;
    private IEnumerable<SolicitacaoProjeto> SolicitacaoProjeto;

    protected override async Task OnInitializedAsync()
    {
        SolicitacaoProjeto = await SolicitacaoProjectServer.GetAll();
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
