@page "/RequestDetalheInscricao"
@using Student.Web.Data
@using Student.Web.Model
@using Student.Web.Service
@inject WeatherForecastService ForecastService
@inject PropostaSolicitacaoProjetoServer propostaSolicitacaoProjetoServer;
<h1>Inscrições em projetos</h1>


@if (propostaSolicitacaoProjeto == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
   @if(propostaSolicitacaoProjeto.Count() > 0)
    {
    <table class="table">
        <thead>
            <tr style="background-color: #38598b; color:white">
                <th>Projeto</th>
                <th>Orçamento</th>
                <th>Tempo De Entrega</th>
                <th>Usuário</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var solicitacaoProjeto in propostaSolicitacaoProjeto)
            {
                <tr>
                    <td>@solicitacaoProjeto.Id</td>
                    <td>@solicitacaoProjeto.Orçamento</td>
                    <td>@solicitacaoProjeto.TempoEntrega/Dias</td>
                    <td>@solicitacaoProjeto.IdUsuario</td>
                </tr>
            }
        </tbody>
        </table>

    }
    else
    {
        <h5>Não foi encontrado nenhuma Inscrição</h5>
    }
}

@code {
    private IEnumerable<PropostaSolicitacaoProjeto> propostaSolicitacaoProjeto;

    protected override async Task OnInitializedAsync()
    {
        var result = await propostaSolicitacaoProjetoServer.GetAll();

        if (result is not null)
            propostaSolicitacaoProjeto = result;

    }
}
