@page "/RequestProjeto"
@using Student.Web.Model
@using Student.Web.Service
@inject SolicitacaoProjectServer solicitacaoProjectServer;
@inject IJSRuntime JsRuntime
@inject NavigationManager uriHelper;
@attribute [Authorize]

<div class="container">
    <div class="row justify-content-center">
        <h3>Publique agora seu projeto</h3>
    </div>
</div>
<EditForm Model="@solicitacaoProjeto" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Título</label>
            <input type="text" class="form-control" @bind-value="solicitacaoProjeto.Titulo" id="nameProject" placeholder="Titulo" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="startDate">Início</label>
            <input @bind="dateStart" id="startDate" class="form-control" />
            <div class="custom-control custom-radio">
                <br />
                @*<input type="radio" id="customRadio2" name="rdInicio" class="custom-control-input">*@
                @*<label class="custom-control-label" for="customRadio2">Em consulta</label>*@
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="FimDate">Fim</label>
            <input @bind="dateEnd" id="FimDate" class="form-control" type="date" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="FimDate">Orçamento</label>
            <input type="text" class="form-control" @bind-value="solicitacaoProjeto.Orçamento" for="inputEmail4">Orçamento</input>
        </div>
        <div class="form-group col-md-6">
            <label for="FimDate">Local</label>
            <input type="text" class="form-control" @bind-value="solicitacaoProjeto.Local" placeholder="Local" for="inputEmail4">Local</input>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-9">
            <label for="exampleFormControlTextarea1" class="form-label">Descrição</label>
            <textarea @bind-value="solicitacaoProjeto.Descricao" @bind-value:event="oninput" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
        </div>
    </div>
    <div class="col text-center">
        <button type="submit" class="btn btn-primary" >Salvar</button>@*@onclick="Salvar"*@
    </div>
</EditForm>
@code {
    SolicitacaoProjeto solicitacaoProjeto = new SolicitacaoProjeto();

    private EditContext editContext;
    public string oninput { get; set; }

    public DateTime dateStart { get; set; }
    public DateTime dateEnd { get; set; }

    //SolicitacaoProjeto solicitacaoProjeto = new SolicitacaoProjeto();

    protected async override void OnInitialized()
    {
        var date = DateTime.Now;
        dateStart = date.AddDays(30);
        dateEnd = date.AddDays(30);
        HandleHeset();
    }

    //private async void Salvar()
    //{

    //}

    private async void HandleValidSubmit()
    {
        if(solicitacaoProjeto.Descricao == "" || solicitacaoProjeto.Orçamento == "" || solicitacaoProjeto.Local == "" || solicitacaoProjeto.Titulo == "")
        {
            await JsRuntime.InvokeVoidAsync("alert", "Preencher todos os campos"); // Alert
            return;
        }
        editContext = new EditContext(solicitacaoProjeto);
        solicitacaoProjeto.DataFim = dateEnd;
        solicitacaoProjeto.DataInicio = dateStart;
        var result = await solicitacaoProjectServer.Create(solicitacaoProjeto);
        if(result == "OK"){
            await JsRuntime.InvokeVoidAsync("alert", "Salvo com sucesso!"); // Alert
                              uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);  
        }
        else
            await JsRuntime.InvokeVoidAsync("alert", "Erro:"+result); // Alert

        resetValues();
        // Process the valid form
    }

    private void resetValues()
    {
        var date = DateTime.Now;
        dateStart = date.AddDays(30);
        dateEnd = date.AddDays(30);
        solicitacaoProjeto.Descricao = "";
        solicitacaoProjeto.Orçamento = "";
        solicitacaoProjeto.Local = "";
        solicitacaoProjeto.Titulo = "";
    }

    private void HandleHeset()
    {
        solicitacaoProjeto = new SolicitacaoProjeto();
    }
}