@page "/RequestDetalhe/{Id:int}"
@using Student.Web.Data
@using Student.Web.Model

<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <h4>Detalhes do Projeto</h4>
                </div>
                <div class="d-flex flex-column ">
                    <h6 class="text-end"> €50,00 - 100,00 EUR </h6>
                    <p class="text-end"><i class="bi bi-info-circle-fill"></i><small class="text-uppercase">O periodo para ofertar termina em @TimeEndProject</small></p>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div>
                <b>Detalhes</b>
                <p>
                    I would like from you to develop an awesome mobile application (in term of design) for my web radio that allows users to listen to live broadcasts and podcasts (available on the SoundCloud platform) on their mobile devices. The app will be available on both iOS and
                    Android platforms (preferably to be implemented using Flutter).<br />

                    User Interface The user interface of the application should be attractive, simple, clean, and easy to navigate. The color scheme and design should be
                    consistent with the branding of the web radio station. The UI should include the following sections:<br />
                    - Home screen: This should display the latest live broadcast and featured podcasts.<br />
                    - Live screen: This should display the current live broadcast with playback controls.<br />
                    - Podcasts screen: This should display a list of available podcasts (to retrieve data from SoundCloud) with playback controls.<br />


                </p>
            </div>
            <div>
                <b>
                    Habilidades Necessárias
                </b>
                <div class="d-flex mb-3  mt-3 ">
                    <span class="badge rounded-pill text-bg-light border p-2 me-3">PHP</span>

                    <span class="badge rounded-pill text-bg-light border p-2">HTML5</span>

                    <span class="badge rounded-pill text-bg-light border p-2">JAVASCRIPT</span>

                    <span class="badge rounded-pill text-bg-light border p-2">CSS</span>
                </div>
                <div class="d-flex justify-content-between">
                    <small>ID do Projeto: @Id</small>
                    <small>
                        <i class="bi bi-flag-fill"></i>
                        <a>Reportar Projeto</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <h4>Coloque uma Oferta neste Projeto</h4>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div>
                <p>Você poderá editar sua oferta até que o projeto seja concedido a alguém.</p>
                <form>
                   
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="mb-3">
                                <label for="basic-url" class="form-label fw-bold">Valor da Oferta</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon3">R$</span>
                                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                    <span class="input-group-text">BR</span>
                                </div>
                                <div class="form-text">Example help text goes outside the input group.</div>
                            </div>
                        </div>
                          
                        <div class="form-group col-md-6">
                            <div class="mb-3">
                                <label for="basic-url" class="form-label fw-bold">Valor da Oferta</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                    <span class="input-group-text">Dias</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="exampleFormControlTextarea1" class="form-label">Descreva sua proposta</label>
                            <textarea class="form-control" placeholder="O que te torna o melhor candidato para esse projeto?" id="exampleFormControlTextarea1" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="col text-right">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>   
        </div>
    </div>
</div>

@code {

    [Parameter]
    public int Id { get; set; }

    public string TimeEndProject { get; set; }

    protected override void OnInitialized()
    {
        string dataInit = "2023-03-12T12:35:16.379";

        string dataEnd = "2023-03-12T12:35:16.379";

        TimeSpan date = Convert.ToDateTime(dataEnd) - Convert.ToDateTime(dataInit);

        int totalDias = date.Days;
        TimeEndProject = String.Format("{0} dias, {1} horas",
                         date.Hours, date.Days);
    }

}
